<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section footer-section-1">
        <img src="/assets/logoArtStudio2.png" alt="ArtStudio Logo" class="logo">
        <p class="slogan">Donde el arte cobra vida, <br> calidad y pasión en cada <br> creación.</p>
      </div>

      <div class="footer-section">
        <h2>Sobre Nosotros</h2>
        <ul>
          <li><a (click)="navigateToSection('productos')" class="pro">Productos</a></li>
          <li><a (click)="navigateToSection('terminos')" class="pro">Términos y Condiciones</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h2>Empresa</h2>
        <ul>
          <li><a (click)="navigateToSection('envios')" class="pro">Políticas de Envíos</a></li>
          <li><a (click)="navigateToSection('devoluciones')" class="pro">Políticas de Devolución</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h2>Contactos</h2>
        <ul>
          <li><i class="fas fa-phone"></i> +57 320 908 9395 </li>
          <li><i class="fas fa-envelope"></i> contacto&#64;artstudio.com</li>
          <li><i class="fas fa-map-marker-alt"></i> Calle 52 #19-22, Bogota</li>
          <li><i class="fas fa-phone-alt"></i> +57 301 791 2828</li>
        </ul>
        <div class="social-media">
          <a href="https://www.facebook.com/profile.php?id=100066805629182&ref=py_c" target="_blank"><img src="/assets/facebook.png" alt="Facebook"></a>
          <a href="https://www.instagram.com/artstudio.decoracion" target="_blank"><img src="/assets/instagram.png" alt="Instagram"></a>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <p>&copy; 2024 ArtStudio. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>