
<p-toast position="top-right"></p-toast>



<div class="contenedorhome">
    <app-nav-bar class="navxd"></app-nav-bar>
    <app-home-banner></app-home-banner>
    <app-nuevos-design></app-nuevos-design>  
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
    <div data-aos="zoom-in" data-aos-duration="1000" >
        <app-home-destacados></app-home-destacados>
    </div>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
      
    <app-home-conecta-creatividad></app-home-conecta-creatividad>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>

      <app-home-categorias></app-home-categorias>
    <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
      <div class="banner-envios">
        <div class="banner-content">
          <h1>Envíos Rápidos y Seguros</h1>
          <p>Lleva tus compras a la puerta de tu casa con nuestro servicio de envío premium</p>
          <div class="icon-container">
            <div class="icon-item">
              <i class="pi pi-truck"></i>
              <span>Envío Rápido</span>
            </div>
            <div class="icon-item">
              <i class="pi pi-box"></i>
              <span>Empaque Seguro</span>
            </div>
            <div class="icon-item">
              <i class="pi pi-stopwatch"></i>
              <span>Entrega Puntual</span>
            </div>
          </div>
        </div>
        <div class="banner-image-container">
          <img src="../../../assets/banner_envios.jpg" alt="Banner de envíos" class="banner-image"/>
        </div>
        <div class="progress-bar"></div>
      </div>
      <br>

      <div class="elegant-divider">
        <div class="divider-line"></div>
        <div class="divider-icon">●</div>
        <div class="divider-line"></div>
      </div>
    <app-floating-buttons></app-floating-buttons>
    <app-blog-card ></app-blog-card>
    <br>
    <br>
    <br>
    <br>
</div>
<app-footer></app-footer>