

/* General Styles */
.blog-container{
  display: block;
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navxd {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Blog Main Styles */
.blog-main {
  flex: 2;
  margin-right: 20px;
}

/* Blog Sidebar Styles */
.blog-sidebar {
  flex: 1;
  max-width: 350px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px;
}

/* Title Styles */
.blog-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333333;
}

/* Author and Date Styles */
.blog-author {
  font-size: 1em;
  margin-bottom: 20px;
  color: #888888;
}

/* Content Styles */
.blog-content {
  line-height: 1.6;
}

/* Paragraph Styles */
.blog-paragraph {
  margin-bottom: 20px;
  color: #444444;
}

/* Image Container Styles */
.blog-image-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Image Styles */
.blog-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tags Styles */
.blog-tags {
  margin-top: 20px;
}

.blog-tag {
  display: inline-block;
  background-color: #f1f1f1;
  color: #555555;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.9em;
}

/* Contact Info Styles */
.contact-info {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.contact-info p {
  font-size: 1em;
  margin: 5px 0;
  color: #555555;
}

.contact-info strong {
  color: #007bff;
  display: block;
  margin-top: 10px;
}

/* Recent Posts Styles */
.recent-posts {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.recent-posts h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333333;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.recent-posts ul {
  list-style-type: circle;
  padding: 0;
}

.recent-posts li {
  margin-bottom: 15px;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
}

.recent-posts li:before {
  position: absolute;
  left: -20px;
  color: #007bff;
  font-size: 1.2em;
}

.recent-posts li:hover {
  color: #0056b3;
}