<div class="contenedor-imagen"></div>
<div class="contenedor">
  <div class="divtitle">
    <a class="navtitle font-Inter" routerLink="/welcome">ArtStudio Administrador</a>
  </div>
  <mat-card class="cardFormulario">
    <div class="form">
      <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
        <p class="text-parrafo">
          Introduzca a continuación sus datos de acceso exclusivos de administrador
        </p>
        <div class="form-group">
          <mat-label>Correo</mat-label>
          <input
            type="text"
            placeholder="correo electrónico"
            class="form-control"
            id="email"
            [(ngModel)]="user"
            name="user"
            required
            #userInput="ngModel"
          />
          <div *ngIf="userInput.invalid && userInput.touched">El usuario es requerido</div>
        </div>
      
        <div class="form-group">
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            placeholder="contraseña"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            required
            #passwordInput="ngModel"
          />
          <div *ngIf="passwordInput.invalid && passwordInput.touched">La contraseña es requerida</div>
        </div>
      
        <button class="buttonAceptar" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
      </form>
      
    </div>
  </mat-card>
</div>
