<div class="featured-section">
  <ng-container *ngIf="showOnlyDestacados">
    <h2 class="spotlight-title">
      <span class="spotlight-beam">Posters</span>
      <span class="spotlight-focus">Destacados</span>
    </h2>
    <p class="gallery-description">
      Descubre obras que <span class="emphasis">transformarán</span> tus espacios y
      <span class="emphasis">elevarán</span> tu estilo personal a nuevas alturas.
    </p>
  </ng-container>

  <!-- Carrusel para todas las pantallas -->
  <div class="divcardDestacados">
    <div class="carousel-container">
      <p-carousel [value]="products" [numVisible]="5" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
          <div class="product-wrapper">
            <div class="product-card" [routerLink]="['/preview', product.nombreProducto, product.idProducto]">
              <div class="image-container zoom-shadow">
                <img [src]="product.Imagenes[0]" [alt]="product.nombreProducto" class="product-image" />
                <div class="button-overlay" *ngIf="!isMobileOrTablet">
                  <button pButton icon="pi pi-heart" class="action-button" (click)="addToWishlist($event,product)"></button>
                </div>
              </div>
              <div class="product-info">
                <h3>{{ product.nombreProducto }}</h3>
                <p>$200.000 - $500.000</p>
              </div>
            </div>
            <div class="wishlist-container" *ngIf="isMobileOrTablet">
              <button pButton class="wishlist-button" icon="pi pi-heart" (click)="addToWishlist($event, product)">
              </button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
