<div class="floating-buttons">
    <button *ngIf="showScrollUpButton" class="scroll-up-button show" (click)="scrollToTop()">
      <i class="pi pi-arrow-circle-up" [style]="{'font-size':'16px'}" ></i>
      <span class="scroll-text" [style]="{'margin-top':'7px'}">SCROLL UP</span>
    </button>
    <a  style="text-decoration: none; margin-top: 25%;" class="whatsapp-button" href="https://wa.me/123456789" target="blank">
        <i class="pi pi-whatsapp" [style]="{'font-size':'30px'}"></i>
      </a>
  </div>

  
  