<div class="carousel-container" #carouselContainer>
  <div class="carousel-slides" routerLink="/productos">
    <div *ngFor="let banner of banners; let i = index" 
         class="carousel-slide" 
         [class.active]="i === currentSlideIndex">
      <img [src]="banner.Url" alt="Banner {{ i + 1 }}" class="carousel-image">
      <div class="carousel-overlay"></div>
      <div class="carousel-text">
        <h2 class="carousel-title">{{ banner.Titulo || 'Título no disponible' }}</h2>
        <p class="carousel-subtitle d-none d-sm-block">{{ banner.Subtitulo || 'Subtítulo no disponible' }}</p>
      </div>
    </div>
  </div>
  <div class="carousel-controls">
    <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
  </div>
  <div class="carousel-indicators d-none d-sm-flex">
    <span *ngFor="let banner of banners; let i = index"
          [class.active]="i === currentSlideIndex"
          (click)="goToSlide(i)"></span>
  </div>
</div>