<app-nav-bar></app-nav-bar>
<div class="contenedor-principal">
  <p-toast styleClass="custom-toast mobile-toast"></p-toast>
  <div class="container-viewService">
    <div class="conLeft columna">
      <div class="columnaRight">
        <img [src]="imagenSeleccionada" alt="Imagen del botón" class="imgServiceGrande" style="max-width: 100%; height: auto;">
        <div class="columnaLeft">
          <img *ngFor="let img of product?.Imagenes" [src]="img" alt="Imagen del producto" class="imgService"
            (click)="seleccionarImagen(img)" />
        </div>
      </div>
    </div>
    <div class="conRight columna">
      <h1 class="ptittle animated-title">{{ product?.nombreProducto }}</h1>
      <br>
      <h2 class="pText section-title">Precio</h2>
      <br>
      <p class="pPrice highlight-text">200.000 - 500.000 COP</p>
      <br>
      <h2 class="pText section-title">Medidas</h2>
      <br>
      <p-dropdown [options]="nodes" [(ngModel)]="selectedNodes" optionLabel="TamanhoPoster" [showClear]="true"
          placeholder="Selecciona una Medida" (onChange)="onNodeSelect()" [style]="{'width': '285px'}">
      </p-dropdown>
      <br>
      <br>
      <h2 class="pText section-title">Agregar Marco</h2>
      <br>
      <div class="card flex justify-content-left">
        <form [formGroup]="formGroup">
          <p-toggleButton formControlName="checked" onLabel="Sí" offLabel="No" />
        </form>
      </div>
      <br>
      <div class="compact-input-number-container">
        <button class="button decrement-button" (click)="decrement()">-</button>
        <input type="number" [(ngModel)]="quantity" class="compact-input" min="1" max="100" (input)="onInput($event)" />
        <button class="button increment-button" (click)="increment()">+</button>
        <p-button
          label="Agregar al carrito"
          [rounded]="true"
          styleClass="p-button1"
          [disabled]="!isOptionsSelected"
          (onClick)="addToCart()"
          pTooltip="Selecciona las opciones del producto primero"
          [tooltipDisabled]="isOptionsSelected"
        ></p-button>
      </div>
      <br>
      <div class="subtotal-label">
        <span>Subtotal: {{ precioSeleccionado | currency: 'COP ':'symbol':'1.0-0' }}</span>
      </div>
      <br>
      <br>
      <mat-accordion [style]="{ width: '100px'}">
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title class="section-title"> Descripción </mat-panel-title>
          </mat-expansion-panel-header>
          <p style="width: 125px;">{{ product?.DescripcionProducto }}</p>
        </mat-expansion-panel>
      </mat-accordion>
      
      
    </div>
  </div>
  <div class="contenedorCategorias">
    <div class="textNewDesign">
      <h1 class="category-title">Categorías</h1>
    </div>
    <p-scrollPanel [style]="{ width: '100%', height: '45rem' }" styleClass="custombar2">
      <div class="grid-container">
        <div *ngFor="let categoria of categorias" class="grid-item" (click)="selectCategory(categoria)"
          [ngClass]="'imgcat'" [ngStyle]="{'background-image': 'url(' + categoria.imagenCategoria + ')'}">
          <div class="overlay">{{ categoria.nombreCategoria }}</div>
        </div>
      </div>
    </p-scrollPanel>
  </div>




</div>
<div class="carousel-container">
  <div class="title-section">
    <mat-divider class="divider"></mat-divider>
    <h1 class="related-products-title">PRODUCTOS RELACIONADOS</h1>    
  </div>
  <p class="subtitle">Descubre opciones que complementan tu elección</p>    
  <div *ngIf="productosRelacionados.length > 0">
    <app-home-destacados [products]="productosRelacionados" [showOnlyDestacados]="false"></app-home-destacados>
  </div>
</div>
<app-floating-buttons></app-floating-buttons>
<app-footer></app-footer>